.comments {
  margin-top: 30px;
}
.postMeta {
  display: flex;
  justify-content: space-between;
}

.left p {
  font-weight: 300;
}

.comments li {
  list-style: none;
}

.comments ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.addComment {
  margin-top: 30px;
}
.addComment textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
}

.addComment input {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.addComment button,
.audience button {
  cursor: pointer;
  height: 40px;
  background: #212121;
  color: white;
  border: 0;
  padding: 13px;
}
.addComment button:disabled {
  cursor: not-allowed;
  background: #535353;
}

.numVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.audience {
  display: flex;
}

.numComments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.vote span,
.commentScore span {
  cursor: pointer;
}

.commentActions {
  display: flex;
  justify-content: space-between;
}

.commentScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3px;
}

.audience button {
  height: 50px;
  margin-right: 10px;
}
